.wrapper {
    overflow-y: hidden;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}

.button {
    background-color: #FF385C;
    border-radius: 0.5rem;
    border: none;
    height: 4rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}
