.spot_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 275px; */
    max-width: 270px;
    padding: 15px 15px;
    /* margin: 10px 0; */
}

.spot_image {
    max-width: 275px;
    max-height: 275px;
    padding: 10px 0px;
}

.spot_tile img {
    max-width: 275px;
    min-height: 275px;
    object-fit: cover;
    border-radius: 16px;
}

.spot_intro {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spot_title {
    display: flex;
    justify-content: space-between;
    min-width: 275px;
}

.spot_title span {
    font-weight: 400;
}

.title_bold {
    font-weight: 600;
}
