.spot_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 220px;
    padding: 15px 15px;
}

.spot_image {
    max-width: 220px;
    max-height: 220px;
    padding: 10px 0px;
}

.spot_tile img {
    max-width: 220px;
    min-height: 220px;
    object-fit: cover;
    border-radius: 16px;
}

.spot_title {
    min-width: 220px;
    display: flex;
    /* text-align: left; */
    align-items: flex-start;
}

.title_bold {
    font-weight: 600;
}
