.spot_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30vw;
    margin-bottom: 1.5rem;
}


.spot_tile img {
    max-width: 30vw;
    min-height: 30vw;
    object-fit: cover;
    border-radius: 2rem;
    padding: 0.8rem;
}

.spot_intro {
    display: flex;
    flex-direction: column;
}

.spot_title {
    display: flex;
    justify-content: space-between;
    min-width: 30vw;
    /* margin-top: 0.5rem; */
    padding: 0 0.8rem;
}

.spot_title span {
    font-weight: 400;
}

.title_bold {
    font-weight: 600;
    margin: 0.2rem 0rem;
}

.spot_rating {
    font-weight: 400;
}

@media screen and (min-width: 1200px) {
    .spot_tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 20vw;
        margin: 1rem 0.8rem;
    }

    .spot_tile img {
        max-width: 20vw;
        min-height: 20vw;
        object-fit: cover;
        border-radius: 16px;
    }

    .spot_intro {
        display: flex;
        flex-direction: column;
    }

    .spot_title {
        display: flex;
        justify-content: space-between;
        min-width: 20vw;
        margin-top: 0.5rem;
    }

    .spot_title span {
        font-weight: 400;
    }
}
