.outer-panel {
    width: 80rem;
    border-top: 0.08rem rgba(0, 0, 0, 0.1) solid;
    padding-top: 2rem;
}

.reviews-overview {
    display: flex;
    justify-content: space-between;
}

.reviews-overview span {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.reviews-overview button {
    background-color: #ff385c;
    border-radius: 0.5rem;
    border: none;
    height: 2.0rem;
    width: 10rem;
    color: white;
}


.reviews-container {
    margin-top: 1rem;
    line-height: 1.5rem;
    display: grid;
    grid-template-columns: 39rem 39rem;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 2rem;
    grid-template-areas:
        ". ."
        ". ."
        ". .";
}
