h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.spotDetail {
    width: 70rem;
    max-width: 90vw;
    line-height: 1.5rem;
    margin: 0 auto;
}

.spotSummary {
    margin-bottom: 3rem;
}

.spotSummary>span {
    text-decoration: underline;
    font-weight: 600;
    margin: 0 0.5rem;
}

.spotMain {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2rem;
    grid-template-areas:
        ". .";
}

.spotDescription p {
    font-size: 1.1rem;
    font-weight: 400;
}

.spotDescription h2 {
    border-bottom: 0.08rem rgba(0, 0, 0, 0.1) solid;
    padding-bottom: 1rem;
}
