h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.spot-detail {
    width: 80rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.spot-summary>span {
    text-decoration: underline;
    font-weight: 600;
    margin: 0 0.5rem;
}

.spot-image {
    max-width: 50%;
    padding: 2rem 0px;
    max-height: 60%
}

.spot-image img {
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.spot-description p {
    font-size: 1.1rem;
    font-weight: 400;

}

.spot-description h2 {
    border-bottom: 0.08rem rgba(0, 0, 0, 0.1) solid;
    padding-bottom: 1rem;
}
