.wrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 1rem;
    grid-template-areas:
        ". .";
}
