/* TODO Add site wide styles */

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    box-sizing: border-box;
}


form {
    min-width: 400px;
    padding: 20px 20px;
    border-radius: 8px;
}

form button {
    background-color: #9C425B;
    border-radius: 0.5rem;
    border: none;
    height: 2.5rem;
}


h1 {
    font-size: 25px;
    font-weight: 00;
}

button {
    cursor: pointer;
}
