/* TODO Add site wide styles */

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}


form {
    min-width: 400px;
    padding: 20px 20px;
    border-radius: 8px;
}

button {
    cursor: pointer;
}
