/* TODO Add site wide styles */

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    box-sizing: border-box;
}


form {
    min-width: 40rem;
    padding: 2rem 2rem;
    border-radius: 1rem;
}

form button {
    background-color: #9C425B;
    border-radius: 0.5rem;
    border: none;
    height: 2.5rem;
    color: white;
}

form input {
    border-radius: 0.5rem;
    border: 0.05rem gray solid;
    height: 3rem;
}

form textarea {
    border-radius: 0.5rem;
    border: 0.05rem gray solid;
    height: 5rem
}

h1 {
    font-size: 2rem;
    font-weight: 00;
}

button {
    cursor: pointer;
}
