.review-card p {
    font-size: 1rem;
    font-weight: 400;
}

.review-info {
    display: flex;
    justify-content: space-between;
}

.review-info button {
    background-color: white;
    border: none;
    color: black;
    text-align: left;
    text-decoration: underline;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    max-width: 3rem;
    margin-right: 0.5rem;
}

.review-content p {
    overflow-wrap: break-word;
    overflow-y: hidden;
    overflow-x: none;
    max-height: 8rem;
}
