.edit_spot {
    flex: 1;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    min-height: 15rem;
    padding: 2rem;
}

.spot_price {
    display: flex;
    text-align: center;
}

.spot_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.spot_info_left {
    display: flex;
    align-items: flex-end;
}

.price_bold {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 0.3rem;
}

.spot_info_right {
    display: flex;
    align-items: flex-end;
}

.spot_info_right>span {
    text-decoration: underline;
    font-weight: 600;
    margin: 0 0.2rem;
}

.date_picker {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.booking_button {
    background-color: #FF385C;
    border-radius: 0.5rem;
    border: none;
    height: 3rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.price_item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.price_item div {
    font-size: 16px;
    font-weight: 400;
}

.price_detail {
    border-bottom: 0.08rem rgba(0, 0, 0, 0.1) solid;
    padding: 0.5rem 0;
}

.price_total {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.price_total div {
    font-size: 16px;
    font-weight: 600;
}

.CalendarDay__selected_span {
    background: rgba(0, 0, 0, 0.2);
    border: none
}

.CalendarDay__selected {
    background-color: black;
    color: white;
    border-radius: 50%;
}

.CalendarDay__selected:hover {
    background-color: black;

}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background: rgba(0, 0, 0, 0.2);
}
