.spot-main {
    display: flex;
}

.spot-description {
    flex: 2;
    margin-right: 1rem;
}

.edit-spot {
    flex: 1;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    min-height: 15rem;
}

.edit-spot>div {
    margin: 0 1.2rem;
}

.spot-price {
    display: flex;
    text-align: center;
}

.spot-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.spot-info-left {
    display: flex;
    align-items: flex-end;
}

.price-bold {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.spot-info-right {
    display: flex;
    align-items: flex-end;
}

.spot-info-right>span {
    text-decoration: underline;
    font-weight: 600;
    margin: 0 0.2rem;
}

.edit-button button {
    background-color: #FF385C;
    border-radius: 0.5rem;
    border: none;
    height: 2.5rem;
    width: 10rem;
    margin-top: 1rem;
    color: white;
}
