.navbar {
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
}

a {
    text-decoration: none;
    color: black;
}

.navbar_right {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

.navbar_right button {
    max-width: fit-content;
}


.navbar a {
    margin: 0 20px;
}
