* {
    font-weight: 500;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin-bottom: 20px;
}

i {
    margin: 0 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 1.5rem 5rem;
    align-items: flex-end;
}

.logo {
    display: flex;
}

.logo img {
    max-width: 2rem;
}

.navbar-right {
    display: flex;
    align-items: flex-end;
}

.navbar-right button {
    min-width: fit-content;
    margin-left: 1rem;
    background-color: white;
    border: none;
    color: black;

}


.navbar-left button {
    min-width: fit-content;
    margin-right: 1rem;
    background-color: white;
    border: none;
    color: #FF385C;
    font-weight: 900;
}

.profile-dropdown {
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    top: 55px;
    right: 80px;
    width: 180px;
    background-color: white;
}

.transparent-button {
    background-color: white;
    border: none;
    color: black;
    text-align: left;
}

.profile-dropdown div {
    padding: 15px 10px;
}
