a {
    text-decoration: none;
    color: black;
}

i {
    margin: 0 0.5rem;
}

.navbar-outer {
    border-bottom: 0.08rem rgba(0, 0, 0, 0.1) solid;
    margin-bottom: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 0;
    align-items: center;
    width: 90vw;
}

.logo {
    display: flex;
}

.logo img {
    max-width: 2rem;
}

.navbar-right {
    display: flex;
    align-items: flex-end;
}

.navbar-left button {
    min-width: fit-content;
    margin-right: 1rem;
    background-color: white;
    border: none;
    color: #FF385C;
    font-weight: 900;
}

.navbar-right button {
    min-width: fit-content;
    padding: 0.8rem 1rem;
    background-color: transparent;
    border: none;
    color: black;

}

.profile-dropdown {
    position: absolute;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    top: 5rem;
    right: 0rem;
    min-width: 15rem;
    background-color: white;
}

.profile-info {
    margin-left: 1rem;
}

.create-spot-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.button-div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-dropdown div {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    min-height: 3rem;
}


.fa-icon {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.fa-icon:hover {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}
