a {
    text-decoration: none;
    color: black;
}

i {
    margin: 0 0.5rem;
}

.navbarOuter {
    border-bottom: 0.08rem rgba(0, 0, 0, 0.1) solid;
    margin-bottom: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.navbarInner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 0;
    align-items: center;
    width: 90vw;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 3rem;
}

.navbarRight {
    display: flex;
    align-items: flex-end;
}

.navbarLeft button {
    min-width: fit-content;
    margin-right: 1rem;
    background-color: white;
    border: none;
    color: #FF385C;
    font-weight: 800;
    font-size: 1.3rem;
}

.navbarRight button {
    min-width: fit-content;
    padding: 0.8rem 1rem;
    background-color: transparent;
    border: none;
    color: black;

}

.socialLink i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.socialLink i:hover {
    color: #FF385C;
}

.socialLink img {
    height: 1.5rem;
    margin: 0 0.5rem;
}

.socialLink img:hover {
    filter: invert(35%) sepia(52%) saturate(4171%) hue-rotate(329deg) brightness(101%) contrast(101%);
}


.switchToHostingButton:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1.5rem;
}
